@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-slate-900 text-white;
    overscroll-behavior: none;
  }

  * {
    box-sizing: border-box;
  }
}

@layer utilities {
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .touch-manipulation {
    touch-action: manipulation;
  }
}
